<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-2">
  <%= link_to 'Clinic', root_path, class: 'navbar-brand' %>
  <ul class="navbar-nav">
    <li class="nav-item <%= 'active' if current_page?(root_path) %>">
      <%= link_to 'Patients', patients_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>
